[submodule "Trabalho-Orientacao_a_Objetos_em_Cpp"]
	path = Trabalho-Orientacao_a_Objetos_em_Cpp
	url = git@github.com:helomendes/Trabalho-Orientacao_a_Objetos_em_Cpp.git
[submodule "processPKLot"]
	path = processPKLot
	url = git@github.com:helomendes/processPKLot.git
